<h2>Add a New Note</h2>

<%= form_tag notes_url(:event_id=>@event.id), :method => 'post' do %>
    <div>
      <%= label_tag "title" %>
      <%= text_field_tag "title", "", size:30 %>
    </div>

    <div>
      <!--<label for="desc">Description:</label>-->
      <!--<textarea cols="80" rows="3" name="desc" id="desc"></textarea>-->
      <%= label_tag "desc", "Description" %>
      <%= text_area_tag "desc", "", rows:3, cols:80 %>
    </div>

    <%=submit_tag "Add Note"%>
    <!--<input type="submit" name="commit" value="Add Note">-->
<% end %>