<div class="container">
    <h2>Add a New Note (<%=@event.title%>)</h2>
    <% if @note.errors.any? %>
        <ul>
          <% @note.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_tag event_notes_url(@event), :method => 'post' do %>
        <div>
          <%= label_tag 'title' %>
          <br>
          <%= text_field_tag 'title', @note.title, size:30 %>
        </div>

        <div>
          <%= label_tag 'desc', 'Description' %>
          <br>
          <%= text_area_tag 'desc', @note.desc, rows:3, cols:80 %>
        </div>

        <%=submit_tag 'Add Note', {:class=>'btn btn-default'}%>
        <%= link_to 'Cancel', :back, {:class=>'btn btn-default'} %>
    <% end %>
</div>