<div class="container">
    <h2>Sign Up</h2>
    <% if @user.errors.any? %>
        <ul class="errors">
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_tag users_url do %>
        <div>
          <%= label_tag :email %>
          <br>
          <%= text_field_tag :email %>
        </div>

        <div>
          <%= label_tag :password %>
          <br>
          <%= password_field_tag :password %>
        </div>

        <div>
          <%= label_tag :name %>
          <br>
          <%= text_field_tag :name %>
        </div>
        <%= submit_tag 'Sign Up!', {:class=>'btn btn-default'} %>
        <%= link_to 'Cancel', root_url, {:class=>'btn btn-default'} %>
    <% end %>
</div>
