<div class="container">
    <h2>Edit this Event (<%=@event.title%>)</h2>
    <% if @event.errors.any? %>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_tag event_url(@event), :method => 'patch' do %>
        <div>
          <%= label_tag 'title' %>
          <br>
          <%= text_field_tag 'title', @event.title, size:30 %>
        </div>

        <div>
          <%= label_tag 'picture', 'Picture URL' %>
          <br>
          <%= text_field_tag 'picture', @event.picture, size:120 %>
        </div>
        <%=submit_tag 'Update Event', {:class=>'btn btn-default'}%>
        <%= link_to 'Cancel', :back, {:class=>'btn btn-default'} %>
    <% end %>
</div>