<div class="container">
    <h2><%= @event.title %></h2>
    <%= image_tag @event.picture, height: '120', width: '120' %>
    <h4><%= "Created at: #{@event.created_at}" %></h4>
    <h4><%= "Updated at: #{@event.updated_at}" %></h4>
    <%= link_to "Add Note", new_event_note_url(@event) %>
    <br><br><br>
    <% @notes.each do |note| %>
        <div class="container">
            <h4>
                <%=note.title %>
                <small><%=link_to "Edit", edit_event_note_url(@event,note) %></small>
                <small><%=link_to "Delete", event_note_url(@event,note), :method=>'delete'%></small>
            </h4>
            <%= simple_format "#{note.desc}" %>
            <% if note.comments.any? %>
                <ul>
                    <% note.comments.each do |comment| %>
                        <li>
                          <h5>
                            <%= comment.desc %>
                            <small><%=link_to "Delete", event_note_comment_url(@event,note,comment), :method=>'delete'%></small>
                          </h5>
                        </li>
                    <% end %>
                </ul>
            <% end %>
            <div class="form-inline">
                <%= form_tag event_note_comments_url(@event,note), :method => 'post' do %>
                  <div class="form-group">
                    <%= label_tag "desc", "" %>
                    <%= text_area_tag "desc", "", rows:2, cols:40 %>
                  </div>
                    <%=submit_tag "Comment"%>
                <% end %>
            </div>
        </div>

    <% end %>
</div>