<!DOCTYPE html>
<html>
<head>
  <title>Centurion</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <body>
        <div class="container">
          <h1>
            <%= link_to "Centurion Travel Blogs", home_url %>
            <small> <%= link_to "Events", events_url%></small>
            <small> <%= link_to "Activities", activities_url%></small>
            <% if cookies["user_id"].present? %>
                <small>Howdy, <%= User.find_by(id: cookies["user_id"]).email %></small>
                <small><%= link_to "Sign Out", '/logout' %></small>
            <% else %>
                <small><%= link_to "Sign Up", '/signup' %></small>
                <small><%= link_to "Sign In", '/login' %></small>
            <% end %>
          </h1>
        </div>
    <%= yield %>

    </body>
</html>
