<!DOCTYPE html>
<html>
<head>
  <title>Centurion</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <body>
        <div class="container">
          <h1>
            <%= link_to "Centurion Travel Blogs", root_url %>
            <small> <%= link_to "Events", events_url%></small>
            <small> <%= link_to "Activities", activities_url%></small>
            <% if cookies["user_id"].present? %>
                <small><%= link_to "Sign Out", session_url(cookies["user_id"]), :method => 'delete' %></small>
                <small>Hello, <%= User.find_by(id: cookies["user_id"]).name %></small>
            <% else %>
                <small><%= link_to "Sign Up", new_user_url %></small>
                <small><%= link_to "Sign In", new_session_url %></small>
            <% end %>
          </h1>
        </div>
    <%= yield %>

    </body>
</html>
